body {
  margin: 0px;
  padding: 0px;
  font-family: 'Geo', sans-serif;
  overflow: hidden;
}

#color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1001;
}

#life {
	top: 0px;
	position: absolute;
	-webkit-filter: blur( 0.7px ) contrast( 1.2 );
	-moz-filter: blur( 0.7px ) contrast( 1.2 );
	filter: blur( 0.7px ) contrast( 1.2 );
	opacity: 0.3;
	z-index: -1000;
}

#color { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 25s ease infinite;
-z-animation: rainbow 25s ease infinite;
-o-animation: rainbow 25s ease infinite;
  animation: rainbow 25s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}



.title {
	margin-top: 5vh;
	text-align: center;
	font-size: 15vh;
	color: white;
	margin-bottom: 9vh;
  padding-left: 10px;

}

.intro {
	text-align: center;
	color: white;
	margin-bottom: 9vh;
}

.view {
	text-align: center;
	color: white;
}

.portfolioButton {
	background-color: white; /* Green */
  	border: none;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 3vh;
  	margin:0 auto;
    display:block;
    font-family: 'Geo', sans-serif;
    border-radius: 4px;
    width: 250px;
}